<div class="container">
  <div class="main">
    {{!-- Start Header --}}
    <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
      <div class="header full-bg">
        <h3>Đóng học phí</h3>
        <a id="sign-out" href="/logout">Đăng xuất</a>
      </div>
    </nav>
    {{!-- End Header --}}


    {{!-- Start Body --}}
    <form method="POST">
      <div class="body full-bg-body" id="body">
        <div class="form-fee ">
          <div class="modal-content">

            <div class="col-0 col-sm-0 col-lg-0 col-xl-4" id="form-picture">
              <img src="/images/img-banking.jpeg" alt="">
            </div>

            <div class="col-12 col-lg-12 col-xl-8 pl-0 pr-0 " id="form-content">
              <h2>Internet Banking</h2>
              <div class="form">
                <div class="col-12 col-sm-12 col-md-4" id="form-info-myself">
                  <label>Họ và tên</label>
                  <input type="text" id="name-pay" value="{{fullname}}" readonly></input>

                  <label>Số điện thoại</label>
                  <input type="text" id="phone" value="{{phone}}" readonly></input>

                  <label>Địa chỉ email</label>
                  <input type="text" id="email" value="{{email}}" name="email" readonly></input>
                </div>

                <div class="col-12 col-sm-12 col-md-4" id="form-info-fee">
                  <label>Mã số sinh viên</label>
                  <input type="text" id="mssv" minlength="6" maxlength="8" placeholder="ex: 123456" name="MSSV"
                    required></input>

                  <label>Họ tên sinh viên</label>
                  <input type="text" id="name-student" readonly></input>

                  <label>Số tiền cần nộp</label>
                  <input type="text" id="fee" readonly></input>
                </div>

                <div class="col-12 col-sm-12 col-md-3" id="form-info-pay">
                  <label>Số dư khả dụng</label>
                  <input type="number" id="available-balance" value="{{money}}" readonly></input>

                  <label>Số tiền cần thanh toán</label>
                  <input type="number" id="pay-fee" readonly></input>
                </div>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                  Vui lòng kiểm tra lại thông tin. Mọi sai sót xin vui lòng liên hệ <a href="">@gmai.com</a> hoặc
                  hotline <a href="">0000000</a>
                </label>
              </div>
              <div class="custom-btn btn-confirm">
                <button id="comfirm-pay" type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#confirm-pay-2">
                  Xác nhận
                </button>

                <!-- Modal -->
                <div class="modal fade" id="confirm-pay-2" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Chú ý</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Bạn có chắc những thông tin trên đã đúng?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="submit" id="submit" class="btn btn-primary">Xác nhận</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="col-4 alert-validatable alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    </div>
    {{!-- End Body --}}

    {{!-- Start Footer --}}
    <div class="footer full-bg">
      <h3>
        Kiến trúc hướng dịch vụ
      </h3>
    </div>
    {{!-- End Footer --}}
  </div>
</div>

<script src="/javascripts/pay-form.js"></script>