<div class="otp-box">
    <form>
        <h1 class="heading">Vui lòng nhập mã OTP đã được gửi vào email của bạn</h1>
        <p class="para">Mã đã được gửi tới email: {{email}}</p>
        <div class="userInput">
            <input type="text" id='ist' maxlength="1" onkeyup="clickEvent(this,'sec')">
            <input type="text" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')">
            <input type="text" id="third" maxlength="1" onkeyup="clickEvent(this,'fourth')">
            <input type="text" id="fourth" maxlength="1" onkeyup="clickEvent(this,'fifth')">
            <input type="text" id="fifth" maxlength="1">
        </div>
        {{!-- <div class="alert alert-danger mx-auto col-10 col-sm-10 col-md-8" role="alert">
            This is a danger alert—check it out!
        </div> --}}
        <div class="alert alert-fail alert-success" role="alert">
            <p class="para">This is a danger alert—check it out!</p>
        </div>
        <div class="submit">
            <button class="custom-btn btn-submit" type="submit">
                <span>Xác nhận</span>
            </button>
        </div>
        <p id="demo"></p>
        <p class="para">Mã OTP sẽ hết hiệu lực trong vòng
            <span class="timer">
                <span id="counter"></span>
            </span>
        </p>
        <span class="btn-send" id="verifiBtn">
            <a href="/reset-OTP" id="reset-OTP">Mã đã được gửi</a>
        </span>

        <div class="return">
            <button class="btn-return" type="button" onclick="history.go(-2)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-square-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z">
                    </path>
                </svg>
                Quay lại
            </button>

        </div>
    </form>
</div>

<script src="/javascripts/submit-otp.js"></script>
<script src="/javascripts/countdown.js"></script>