.col-xl-12{
    margin-left: -30px !important;
}

.col-xl-8{
    margin-left: -35px !important;
}

.form-fee {
    display: block;
    position: initial;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(0, 0, 0);
    background-color: beige;
    padding: 0 0 70px 0;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 31px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    flex-direction: inherit;
}

.form-fee #form-picture {
    height: 100%;
    width: 20%;
    float: left;
    align-items: center;
}

.form-fee #form-picture img {
    width: 100%;
    transition: 0.5s;
}

.form-fee #form-picture:hover img {
    transform: rotate(-5deg) scale(1.10);
    opacity: 0.5;
}

.form-fee #form-content {
    height: 100%;
    width: 100%;
    float: right;
    background: #74ebd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px 50px;
    align-self: center;
    
}

.form-fee #form-content h2 {
    padding: 20px 20px 0px 30px;
}

.form-fee .form  {
    padding: 20px;
    /* display: flex; */
}

.form-fee .form label {
    margin-left: 5px;
    margin-bottom: 1px;
    margin-top: 15px;
    width: 30%;
}

.form-fee .form input {
    padding: 5px;
    border-radius: 10px;
    border-style: groove;
    width: -webkit-fill-available;
    height: 40px;
    box-shadow: 5px 4px 10px 1px #000;
    margin: 10px 10px 10px 3px;
}

.form-fee #fee,
.form-fee #form-info-myself input {
    background-color: #ccc;
}

.form-fee #form-info-myself,
.form-fee #form-info-fee,
.form-fee #form-info-pay{
    display: inline-grid;
    padding: initial;
}

.form-fee .form-check {
    margin-top: -10px;
    margin-left: 30px;
    padding-bottom: 10px;
}

.form-fee .btn-confirm {}

.form-fee .btn-confirm button {
    margin: 10px 20px 20px 10px;
    border-radius: 10px;
    padding: 8px;
    color: #fff;
    font-weight: bold;;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    background: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}

.form-fee .btn-confirm:hover button {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);

}
